<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <%- include("partials/header") -%>
    <div  style="text-align:center ; margin-left:auto; margin-right:auto; margin-top:20%;">
        
        <h2  style="color: #ddb6aa; font-weight:bold">This website is design and hosted by Digvijay pratap.</h2>
       <h2> On this website you would be able to write your blogs and able to read others blogs </h2>
       
    </div>
</body>
</html>