<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blogs</title>
    <link rel="stylesheet" href="css/compose.css">
</head>
<body>
    <%- include("partials/header") -%>
    <div>
 
    <div class="container">
       
        <div class="main">
            <div class="header">
                <h1>Create Your Blog</h1>   
            </div>
            <div id="addPost">
            <form  action="/compose" method="post">
                <input name="Heading" placeholder="Post Name" id="postName" >
                <textarea name="Body"  rows="20" id="paragraph" placeholder="Content here..." ></textarea>
                <button id="savePost" type="submit" name="button">Publish</button>
            </form>
            </div>
        </div> 
    </div>

    </div>
    
    
</body>
</html>