<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    
    <div  style="text-align:center ; margin-left:auto; margin-right:auto; margin-top:20%;">
    <h1 style="font-weight: bolder;">Error</h1>
    <h2  style="color: #ddb6aa; font-weight:bold">Please fill all necessary fields...</h2>
    <a href="/home"  style="color: #3123ec; font-weight:bold">GO TO Home..</a>
</div>
</body>
</html>